.main {
    .main_top {
        position: relative;
        margin: 0 auto 100px;
        width: 1366px;
        .accordion {

        }
        .top--img {
            ul {
                list-style: none;
            }
        }
        #slide {
            width: 100%;
            height: 600px;
            margin: 0 auto;
            position: relative;
            ul {
                list-style: none;
                li {
                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .viewer {
            display: none !important;
        }
    }
}