.services {
    background-color: rgb(255, 252, 232);
    margin-top: 100px;
    margin-bottom: 100px;
    a {
        text-decoration: none;
    }
    .serviceslist {
        margin: 0 auto;
        width: 1080px;
        h1 {
            font: normal bold 45px/77px YuGothic;
            padding-top: 120px;
            padding-bottom: 40px;
            text-align: center;
        }
        .shopping {
            flex-direction: row-reverse;
        }
        .ballet, .shopping, .events {
            margin: 60px 0;
            display: flex;
            width: 1080px;
            justify-content: space-between;
            align-content: center;
            .btn__service {
                background-color: #FFF;
                border: 2px solid #222;
                margin-top: 85px;
                width: 300px;
                height: 50px;
                line-height: 50px;
                display: inline-block;
                border-radius: 25px;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                transition: all 0.3s ease;
                &:hover {
                    background-color: #6ac7fa;
                    border: 2px solid #6ac7fa;
                    color: #fff;
                }
                .span__blue {
                    color: rgb(106, 199, 250);
                    display: inline-block;
                    margin-right: -80px;
                    padding-left: 50px;
                }
            }
            .service__img__top {
                width: 500px;
                height: 320px;
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
            }
            .service__text {
                h2.h2_yuminscho {
                    font: normal bold 40px/60px YuGothic;
                    margin-bottom: 40px;
                    margin-top: 40px;
                }
                p {
                    width: 515px;
                    line-height: 28px;
                }
            }
        }
        .center {
            display: flex;
            justify-content: center;
            margin: 120px auto 0;
            padding-bottom: 120px;
            a {
                .eventlists__btn {
                    background-color: #FFA53C;
                    color: #ffffff;
                    font-size: 25px;
                    font-weight: bold;
                    width: 800px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    &::before {
                        content: "";
                        width: 20px;
                        height: 20px;
                        background: linear-gradient(135deg, rgba(255,207,75,1) 0%, rgba(255,207,75,1) 50%, rgba(255,252,232,1) 50%);
                        display: inline-block;
                        position: absolute;
                        bottom: -1px;
                        right: -1px;
                    }
                }
            }
        }
    }
}